{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Na ratunek kosmitom 🛸</h1>
      <p class="lead">Wrzesień 2021</p>
    </div>
</div>

<br>
<h1>Dni - strony po kolei</h1>
<br><br>

<div class="card mb-3">
    <img src="../static/images/g1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dzień 1</h5>
      <p class="card-text">opis</p>
      <p class="card-text"><small class="text-muted">~~</small></p>
    </div>
  </div>

  <div class="card mb-3">
    <img src="../static/images/g2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dzień 2</h5>
      <p class="card-text">opis</p>
      <p class="card-text"><small class="text-muted">~~</small></p>
    </div>
  </div>

  <div class="card mb-3">
    <img src="../static/images/g3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dzień 3</h5>
      <p class="card-text">opis</p>
      <p class="card-text"><small class="text-muted">~~</small></p>
    </div>
  </div>

{% endblock %}