{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content%}

<br>
<h1 id="dimmed">Etap 1: Włazy</h1>
<br>

<div id="doorPlum" onmousedown="changeBoxPlum()">
    <h4 class="innertext">Właz 1</h4>
    <br>
    <form>
        <p>Klucz:</p>
        <input id="klucz2" type="text" style="text-align:center;">
    </form>
    <br>
    <button type="button" onclick="returnInfo()" class="btn btn-light">Check!</button>
</div>

<div id="doorCyan" onmousedown="changeBoxCyan()">
    <h4 class="innertext">Właz 2</h4>
    <br>
    <form>
        <p>Klucz:</p>
        <input id="klucz1" type="text" style="text-align:center;">
    </form>
    <br>
    <button type="button" onclick="returnInfo()" class="btn btn-light">Check!</button>
</div>

<div id="doorOrchid">
    <h4 class="innertext">Właz 3</h4>
    <br>
    <form>
        <p>Klucz:</p>
        <input id="kluczyk" type="text" style="text-align:center;">
    </form>
    <br>
    <button type="button" onclick="postPassword()" class="btn btn-light">Check!</button>
</div>



{% endblock %}