{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content%}

<br>
<h1 id="dimmed">Etap 1: Włazy</h1>
<br>

<div id="doorPlum" onmousedown="changeBoxPlum()">
    <p>Właz 1</p>
    <form>
        <p>Klucz:</p>
        <input id="klucz1" type="text">
    </form>
</div>
<div id="doorCyan" onmousedown="changeBoxCyan()">
    <p>Właz 2</p>
    <form>
        <p>Klucz:</p>
        <input id="klucz2" type="text">
    </form>
</div>
<div id="doorOrchid" onmousedown="changeBoxOrchid()">
    <p>Właz 3</p>
    <form>
        <p>Klucz:</p>
        <input id="klucz2" type="text">
    </form>
</div>




{% endblock %}