{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Na ratunek kosmitom 🛸</h1>
      <p class="lead">Wrzesień 2021</p>
    </div>
</div>

<img src="../static/images/dysk.png" alt="UFO" class="disc">

<div class="general_content">
  <h1>नमस्ते! Cześć! Hi! Salut! 你好!</h1>
  <br>
  <h4>Podczas tych warsztatów Pythona pomożemy biednym kosmitom, którym popsuł się statek kosmiczny. Istna katastrofa - bez nas nie dadzą sobie rady!</h4>
  <h4>Naszym zadaniem będzie rozwiązywać zagadki aby dostać się do kabiny pilotów i usunąć wszelkie awarie.</h4>
</div>

<br><br>

<div class="card-deck">
  <div class="card">
    <img src="../static/images/historia.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Historia</h5>
      <p class="card-text">Poznajcie naszych niecodziennych gości - kosmitów z bardzo odległej galaktyki.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <button onclick="location.href='{{ url_for('history') }}'" type="button" class="btn btn-info">Historia</button>
      </small>
    </div>
  </div>
  <div class="card">
    <img src="../static/images/dzien.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dni</h5>
      <p class="card-text">Tutaj znajdziecie zagadki podzielone według dni. To właśnie tutaj spędzimy najwięcej czasu aby pomóc naszym zielonym przyjaciołom.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <button onclick="location.href='{{ url_for('all_days') }}'" type="button" class="btn btn-success">Dni</button>
      </small>
    </div>
  </div>
  <div class="card">
    <img src="../static/images/materialy.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Materiały</h5>
      <p class="card-text">Chcecie zyskać więcej pythonowych umiejętności i zostać prawdziwymi programistami? Tu są dodatkowe materiały z super zadankami!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <button onclick="location.href='{{ url_for('materials') }}'" type="button" class="btn btn-danger" onclick="">Materiały</button>
      </small>
    </div>
  </div>
</div>

<br>
<br>
<div class="card text-center">
  <div class="card-header">
    Prowadzące
  </div>
  <div class="card-body">
    <h5 class="card-title">Sleboda Marta | Żurko Aleksandra</h5>
    <p class="card-text">Cieszymy się, że możemy prowadzić dla Was warsztaty. Poniżej możecie poznać nas od tej bardziej <i>profesjonalnej</i> strony.</p>
    <a href="https://www.linkedin.com/in/msleboda/" class="btn btn-primary">Marta Sleboda</a>
    <a href="https://www.linkedin.com/in/aleksandra-zurko/" class="btn btn-primary">Aleksandra Żurko</a>
  </div>
  <div class="card-footer text-muted">
    🖤 🖤 🖤
  </div>
</div>

{% endblock %}