{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Na ratunek kosmitom!</h1>
      <p class="lead">Wrzesień 2021</p>
    </div>
</div>

<img src="../static/images/dysk.png" alt="UFO" class="disc">

<div class="general_content">
  <h1>Cześć!</h1>
  <br>
  <p>Podczas tych warsztatów Pythona pomożemy biednym kosmitom, którym popsuł się statek kosmiczny. Istna katastrofa - bez nas nie dadzą sobie rady!</p>
  <p>Naszym zadaniem będzie rozwiązywać zagadki aby dostać się do kabiny pilotów i usunąć wszelkie awarie.</p>
</div>

<br><br>

<div class="card-deck">
  <div class="card">
    <img src="../static/images/historia.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Historia</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="../static/images/dzien.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dni</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="../static/images/materialy.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Materiały</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<br>
<br>
<div class="card text-center">
  <div class="card-header">
    Prowadzące
  </div>
  <div class="card-body">
    <h5 class="card-title">Sleboda Marta | Żurko Aleksandra</h5>
    <p class="card-text">Cieszymy się, że możemy prowadzić dla Was warsztaty. Poniżej możecie poznać nas od tej bardziej <i>profesjonalnej</i> strony.</p>
    <a href="https://www.linkedin.com/in/msleboda/" class="btn btn-primary">Marta Sleboda</a>
    <a href="https://www.linkedin.com/in/aleksandra-zurko/" class="btn btn-primary">Aleksandra Żurko</a>
  </div>
  <div class="card-footer text-muted">
    🖤 🖤 🖤
  </div>
</div>

{% endblock %}